Django==4.2
djangorestframework==3.14.0
gunicorn==20.1.0
psycopg2-binary==2.9.6  # Для PostgreSQL
mysqlclient==2.1.1      # Для MySQL (если используется)
Pillow==9.4.0           # Для работы с изображениями
requests==2.31.0        # Для работы с HTTP-запросами
beautifulsoup4==4.12.2  # Для парсинга HTML